cloudinary
fastapi
langchain
langchain-classic
langchain-community
langchain-groq
langchain-tavily
langgraph
langgraph-checkpoint-mongodb
langsmith
pygithub
pymongo[srv]>=4.9.0
pypdf
python-dotenv
rank-bm25
slowapi
uvicorn
websockets
python-jose[cryptography]
passlib[bcrypt]
python-multipart
