beautifulsoup4
ipykernel
langchain
langchain-chroma
langchain-classic
langchain-community
langchain-groq
langchain-huggingface
langchain-tavily
langgraph
langgraph-checkpoint-sqlite
langsmith
pypdf
python-dotenv
rank-bm25
sentence-transformers
fastapi
uvicorn
pymongo[srv]==3.12
cloudinary
pygithub
slowapi